In [2]:
# Importing Libraries

import pandas as pd
import numpy as np
import os

#   ----- EXERCISE 5.6 - COMBINING & EXPORTING DATA ----

## Task 3

In [3]:
path=r'C:\Users\LENOVO\Desktop\CF - Data Analytics\Achievement 5\Achievement 5 - PROJECT'

# Assigning path of data stored to a variable

In [4]:
# Importing data from pickle file 'orders_products_combined.pkl'

df_ords_prods_combined=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## Task 4

In [5]:
df_ords_prods_combined.shape

# Checking the dimensions of the dataframe imported from the pickle file

(32434489, 12)

## It is the same as the exported dataframe

## Task 5

In [6]:
df_prods=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col=False)

# Importing products dataset

In [7]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_prods.shape

(49672, 6)

In [13]:
df_ords_prods_combined_1=df_ords_prods_combined.drop(columns=['_merge'])

# Dropping unwanted index columns

In [15]:
df_ords_prods_combined_2=df_ords_prods_combined_1.drop(columns=['Unnamed: 0.1'])

# Dropping unwanted index columns

In [17]:
df_ords_prods_combined_2=df_ords_prods_combined_2.drop(columns=['Unnamed: 0'])

# Dropping unwanted index columns

In [18]:
df_ords_prods_combined_2.head()

,order_id,user_id,order_number,orders_day_of_week,ordered_hour,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196,1,0
1,2539329,1,1,2,8,0.0,14084,2,0
2,2539329,1,1,2,8,0.0,12427,3,0
3,2539329,1,1,2,8,0.0,26088,4,0
4,2539329,1,1,2,8,0.0,26405,5,0

In [19]:
df_ords_prods_merged=df_ords_prods_combined_2.merge(df_prods, on='product_id')

In [20]:
df_ords_prods_merged.shape

(32404859, 14)

## Task 6

In [21]:
df_ords_prods_merged.head()

# to check the results of _merge column

,order_id,user_id,order_number,orders_day_of_week,ordered_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,0.0,196,1,0,195,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0

## Task 7

In [ ]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

# Exporting merged file in pickle format