# --- EXERCISE 5.9 (Part 1) - INTRO INTO DATA VIZ. WITH PYTHON ---

## Task 3 - Importing Libraries and Customer dataset

In [1]:
# Importing Libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Setting up 'path' variable to import CUSTOMER dataset to Jupyter

path=r'C:\Users\LENOVO\Desktop\CF - Data Analytics\Achievement 5\Achievement 5 - PROJECT'

In [3]:
# Importing Customer dataset and assigning it to a dataframe

df_CUSTOMER=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

In [4]:
# Checking the first 10 rows of CUSTOMER dataframe

df_CUSTOMER.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

## Task 4 - Data Wrangling

In [7]:
# Checking the descriptive statistics of all variables in CUSTOMER dataframe

df_CUSTOMER.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [25]:
# Check some more information about CUSTOMER dataframe

df_CUSTOMER.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int32
 1   First Name    194950 non-null  category
 2   Surnam        206209 non-null  category
 3   Gender        206209 non-null  category
 4   STATE         206209 non-null  category
 5   Age           206209 non-null  int8
 6   n_dependants  206209 non-null  int8
 7   fam_status    206209 non-null  category
 8   income        206209 non-null  int32
dtypes: category(5), int32(2), int8(2)
memory usage: 3.4 MB

In [24]:
# Converting datatypes of all variables in Customer dataframe

#df_CUSTOMER['user_id'] = df_CUSTOMER['user_id'].astype('int32')

#df_CUSTOMER['Age'] = df_CUSTOMER['Age'].astype('int8')

#df_CUSTOMER['n_dependants'] = df_CUSTOMER['n_dependants'].astype('int8')

df_CUSTOMER['income'] = df_CUSTOMER['income'].astype('int32')

#df_CUSTOMER['fam_status'] = df_CUSTOMER['fam_status'].astype('category')

#df_CUSTOMER['STATE'] = df_CUSTOMER['STATE'].astype('category')

#df_CUSTOMER['Gender'] = df_CUSTOMER['Gender'].astype('category')

#df_CUSTOMER['Surnam'] = df_CUSTOMER['Surnam'].astype('category')

#df_CUSTOMER['First Name'] = df_CUSTOMER['First Name'].astype('category')

In [26]:
# Checking the datatypes of all variables in the CUSTOMER dataframe - after converting datatypes

df_CUSTOMER.dtypes

user_id            int32
First Name      category
Surnam          category
Gender          category
STATE           category
Age                 int8
n_dependants        int8
fam_status      category
income             int32
dtype: object

In [27]:
# Check the number of rows and columns in CUSTOMER dataframe

df_CUSTOMER.shape

(206209, 9)

In [16]:
# Dropping column that will not be needed

df_CUSTOMER=df_CUSTOMER.drop(columns=['date_joined'])

In [28]:
# Renaming column name from 'Surnam' to 'Surname'
# Renaming column name from 'n_dependants' to 'number_of_dependants'
# Renaming column name from 'fam_status' to 'family_status'
# Renaming column name from 'STATE' to 'State'


df_CUSTOMER.rename(columns={'Surnam':'Surname', 'n_dependants':'number_of_dependants', 'fam_status':'family_status', 'STATE':'State'}, inplace=True)

In [29]:
# Checking the datatypes of all variables in the CUSTOMER dataframe - after renaming columns

df_CUSTOMER.dtypes

user_id                    int32
First Name              category
Surname                 category
Gender                  category
State                   category
Age                         int8
number_of_dependants        int8
family_status           category
income                     int32
dtype: object

## Task 5 - Data Consistency Checks

In [30]:
# Checking for mixed datatype

for col in df_CUSTOMER.columns.tolist():    
    weird=(df_CUSTOMER[[col]].applymap(type) != df_CUSTOMER[[col]].iloc[0].apply(type)).any(axis=1)
    if len(df_CUSTOMER[weird]) > 0:
        print(col)

First Name

In [31]:
# Changing datatype of column 'First Name' to string

df_CUSTOMER['First Name']=df_CUSTOMER['First Name'].astype(str)

In [32]:
# Checking again for mixed datatype - Columns having mixed datatypes have been fixed

for col in df_CUSTOMER.columns.tolist():    
    weird=(df_CUSTOMER[[col]].applymap(type) != df_CUSTOMER[[col]].iloc[0].apply(type)).any(axis=1)
    if len(df_CUSTOMER[weird]) > 0:
        print(col)

In [33]:
# Checking for Missing Values - No missing values have been found

df_CUSTOMER.isnull().sum()

user_id                 0
First Name              0
Surname                 0
Gender                  0
State                   0
Age                     0
number_of_dependants    0
family_status           0
income                  0
dtype: int64

In [34]:
# Checking for Duplicate Values by assigning a dataframe to capture duplicate data

df_dups=df_CUSTOMER[df_CUSTOMER.duplicated()]

In [35]:
df_dups

# NO DUPLICATE DATA HAS BEEN FOUND

Empty DataFrame
Columns: [user_id, First Name, Surname, Gender, State, Age, number_of_dependants, family_status, income]
Index: []

## Task 6 - Data Merging

In [37]:
df_ORDS_PRODS=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_newflags.pkl'))

# Importing the merged Orders and Products dataset

In [38]:
df_ORDS_PRODS.head()

,order_id,user_id,order_number,orders_day_of_week,ordered_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,Busiest Day,Busiest DAYS,Busiest_Period_of_Day,Max_Order,loyalty_flag,Average_Spend,Spend_Flag,Visit_Frequency,Frequency_Flag
0,2539329,1,1,2,8,0.0,-60,1,0,Soda,...,Mid-range Product,Regularly busy,Regular Days,Average Orders,10,New customer,6.367188,Low Spender,20.0,Regular Customer
1,2398795,1,2,3,7,15.0,-60,1,1,Soda,...,Mid-range Product,Regularly busy,Slow Days,Average Orders,10,New customer,6.367188,Low Spender,20.0,Regular Customer
2,473747,1,3,3,12,21.0,-60,1,1,Soda,...,Mid-range Product,Regularly busy,Slow Days,Most Orders,10,New customer,6.367188,Low Spender,20.0,Regular Customer
3,2254736,1,4,4,7,29.0,-60,1,1,Soda,...,Mid-range Product,Least busy,Slow Days,Average Orders,10,New customer,6.367188,Low Spender,20.0,Regular Customer
4,431534,1,5,4,15,28.0,-60,1,1,Soda,...,Mid-range Product,Least busy,Slow Days,Most Orders,10,New customer,6.367188,Low Spender,20.0,Regular Customer

In [48]:
# Converting datatypes of all variables having OBJECT datatype to CATEGORY datatype

#df_ORDS_PRODS['product_name'] = df_ORDS_PRODS['product_name'].astype('category')

#df_ORDS_PRODS['price_range_loc'] = df_ORDS_PRODS['price_range_loc'].astype('category')

#df_ORDS_PRODS['Busiest Day'] = df_ORDS_PRODS['Busiest Day'].astype('category')

#df_ORDS_PRODS['Busiest DAYS'] = df_ORDS_PRODS['Busiest DAYS'].astype('category')

#df_ORDS_PRODS['Busiest_Period_of_Day'] = df_ORDS_PRODS['Busiest_Period_of_Day'].astype('category')

#df_ORDS_PRODS['loyalty_flag'] = df_ORDS_PRODS['loyalty_flag'].astype('category')

#df_ORDS_PRODS['Spend_Flag'] = df_ORDS_PRODS['Spend_Flag'].astype('category')

df_ORDS_PRODS['Frequency_Flag'] = df_ORDS_PRODS['Frequency_Flag'].astype('category')

In [51]:
df_ORDS_PRODS.dtypes

user_id                      int32
order_number                 int16
orders_day_of_week            int8
ordered_hour                  int8
days_since_prior_order     float16
product_id                    int8
add_to_cart_order             int8
reordered                     int8
product_name              category
aisle_id                      int8
department_id                 int8
prices                     float16
price_range_loc           category
Busiest Day               category
Busiest DAYS              category
Busiest_Period_of_Day     category
Max_Order                    int16
loyalty_flag              category
Average_Spend              float16
Spend_Flag                category
Visit_Frequency            float16
Frequency_Flag            category
dtype: object

In [57]:
df_CUSTOMER.dtypes

user_id                    int32
First Name                object
Surname                 category
Gender                  category
State                   category
Age                         int8
number_of_dependants        int8
family_status           category
income                     int32
dtype: object

In [50]:
# Dropping column that will not be needed

df_ORDS_PRODS=df_ORDS_PRODS.drop(columns=['order_id'])

In [52]:
df_ORDS_PRODS_CUST=df_CUSTOMER.merge(df_ORDS_PRODS, on='user_id')

# Merging CUSTOMER dataframe with MERGED ORDERS-PRODUCTS dataframe

In [54]:
df_ORDS_PRODS_CUST.shape

# Checking the number of rows and columns for the new dataframe - ORDS_PRODS_CUST

(32404859, 30)

## Task 8 - Exporting the new dataframe in pickle format

In [58]:
df_ORDS_PRODS_CUST.to_pickle(os.path.join(path, '02 Data' ,'Prepared Data', 'orders_products_customers.pkl'))

# Exporting new dataset in pickle format to local folder